body {
  margin: 0;
  padding: 0;
  background-color: #122239;
}
/* Color */
.color {
  color: bisque;
}
.design {
  color: orange;
}
.errors {
  display: none;
}
/* Card Custom Size */
.size {
  width: 260px;
  height: 330px;
  margin: auto;
  padding-top: 10px;
}
.btn {
  outline: none;
  background-color: #0891b2;
  color: whitesmoke;
}
/* Card Name Flex Part */
.part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
